<% if logged_in? %>
<p>Hi, <%= current_user.uid %></p>
<% end %>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<br>
<br>

<% if @stuff %>
	<%= @stuff %>
<% end %>

<br>

<%= form_tag(jambase_venues_path, method: "get") do %>
  <%= label_tag(:venue_name, "Venue Name:") %>
  <%= text_field_tag(:venue_name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @venues %>
	<table>
	<tr>
		<th>Name</td>
		<th>Address</td>
		<th>ID</th>
	</tr>
	<% @venues.each do |venue| %>
	<tr>
		<td><%= link_to venue[:name], jambase_select_venue_path(venue[:jambase_id]) %></td>
		<td><%= venue[:address] %></td>
		<td><%= venue[:jambase_id] %></td>
	</tr>
	<% end %>
	</table>
<% end %>
